* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

@font-face {
    font-family: NunitoSansL;
    src: url(../letras/NunitoSans-Light.ttf);
}

@font-face {
    font-family: NunitoSansR;
    src: url(../letras/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: NunitoSansB;
    src: url(../letras/NunitoSans-Bold.ttf);
}

@font-face {
    font-family: NunitoSansEB;
    src: url(../letras/NunitoSans-ExtraBold.ttf);
}

@font-face {
    font-family: OpenSansL;
    src: url(../letras/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSansR;
    src: url(../letras/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSansB;
    src: url(../letras/OpenSans-Bold.ttf);
}

@font-face {
    font-family: LilyScriptOneR ;
    src: url(../letras/LilyScriptOne-Regular.ttf);
}


#header {
    display: flex;
    justify-content: center;
    position: fixed; 
    width: 100%; 
    z-index: 1000;
    background-color: white; 
    padding: 10px 0;
    border-bottom: 1px solid #ccc; 
}

#header img {
    width: 30%;
    padding: 10px 0;
}

#nave {
    font-size: 125%;
    font-family: 'OpenSansB', sans-serif;
    position: fixed; 
    top: 180px; 
    width: 100%;
    z-index: 999;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

#nave .navbar-nav .nav-link {
    color: black;
    font-weight: 900;
    transition: color 0.3s ease;
}

#nave .navbar-nav .nav-item {
    margin-right: 60px;
    margin-left: 60px;
}

#nave .navbar-nav .nav-link:hover {
    color: #D9BF75;
}

/*@media (max-width: 767px) {
    {
        
}*/
main{
    padding-top: 250px;
    padding-left: 2%;
    padding-right: 2%;
}
#portifoliomain{
    padding-top: 220px;
    padding-left: 2%;
    padding-right: 2%;
}
#carrosselslogam{
    padding-bottom: 5%;
    padding-top: 1%;
}

.carrossel {
        width:  100%; 
        height: 360px;
        overflow: hidden;
        position: relative;
        margin: auto;
}

    
.slides {
        
        display: flex;
        transition: transform 1s ease-in-out;
}
    
.slides img {
        width: 100%; 
        flex-shrink: 0;
        object-fit: cover; 
} 



@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0%);
    }
}

#slogam{

    padding-top: 20%;
    color: black;
    text-align: center;
    font-family: NunitoSansL;

}

#delayedHeading {

    opacity: 0; 
    transition: opacity 4s ease-in-out;
}

.show {

    opacity: 1 !important;
    
}
#minhahistoria{
    padding-top: 1%;
}

#minhahistoriatexto{
    padding-top: 5%;
    color: black;
    text-align: center;
    font-family: NunitoSansL;
}

#servicosh1{
    padding-bottom: 5%;
    font-family: NunitoSansB;
    text-align: center;

}

#servicos{
    padding-bottom: 2%;
    font-family: NunitoSansR;
    text-align: center;

}
#servicos img{
    width: 80%;
    height: auto;

}
#contatosh1{
    padding-bottom: 3%;
    font-family: NunitoSansB;
    text-align: center;

}
footer{
    background-color:#D9BF75 ;
}


#contatos{
    padding-top: 5%;
    font-family: NunitoSansL;
    text-align: center;
}

#contatos img{
    width: 15%;
   padding-right: 5%;

}

#mapa{
    font-family: NunitoSansB;
    text-align: center;
    padding-top: 2%;
}

#mapa img{
    width: 50%;
}

#produzidopor{
    font-family:NunitoSansR ;
    text-align: center;
    padding-bottom: 0.5%;
   
}
p{
    font-family: NunitoSansB;
}



